<?xml version="1.0" encoding="UTF-8"?>
<!--
  Configuracion de Logback para tener output en formato JSON structured.
-->
<configuration>
    <springProperty scope="context" name="appName" source="spring.application.name" defaultValue="tenpo-challenge"/>
    <springProperty scope="context" name="activeProfile" source="spring.profiles.active" defaultValue="default"/>

    <!-- Appender JSON para prod  -->
    <appender name="JSON_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <messageFieldName>message</messageFieldName>

            <customFields>{"app":"${appName}","profile":"${activeProfile}"}</customFields>

            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>userId</includeMdcKeyName>

            <timestampPattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</timestampPattern>

            <fieldNames>
                <timestamp>@timestamp</timestamp>
                <message>message</message>
                <logger>logger</logger>
                <thread>thread</thread>
                <level>level</level>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
                <stackTrace>stack_trace</stackTrace>
            </fieldNames>

            <shortenedLoggerNameLength>40</shortenedLoggerNameLength>

            <throwableConverter class="net.logstash.logback.stacktrace.ShortenedThrowableConverter">
                <maxDepthPerCause>20</maxDepthPerCause>
                <maxLength>4096</maxLength>
                <rootCauseFirst>true</rootCauseFirst>
            </throwableConverter>
        </encoder>
    </appender>

    <!-- Appender para el desarrollo local -->
    <appender name="PLAIN_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_JSON" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="JSON_CONSOLE"/>
        <queueSize>512</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <includeCallerData>false</includeCallerData>
    </appender>

    <springProfile name="prod,docker">
        <root level="INFO">
            <appender-ref ref="ASYNC_JSON"/>
        </root>
        <logger name="com.tenpo.challenge" level="INFO"/>
    </springProfile>

    <springProfile name="default,mock">
        <root level="INFO">
            <appender-ref ref="PLAIN_CONSOLE"/>
        </root>
        <logger name="com.tenpo.challenge" level="DEBUG"/>
        <logger name="org.springframework.web" level="INFO"/>
    </springProfile>

    <springProfile name="test">
        <root level="WARN">
            <appender-ref ref="PLAIN_CONSOLE"/>
        </root>
        <logger name="com.tenpo.challenge" level="DEBUG"/>
        <logger name="org.flywaydb" level="DEBUG"/>
        <logger name="com.zaxxer.hikari" level="DEBUG"/>
    </springProfile>

</configuration>
